:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

.login {
  width: 100vw;
  height: 92vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.container-login {
  background-color: #f5f5fc;
  width: 23vw;
  height: 389.867px;
  border-radius: 10px;
  box-shadow: 4px 4px 2px 2px rgba(94, 87, 87, 0.2);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-icon-title {
  display: grid;
  place-items: center;
  margin-bottom: 5px;
}

.container-icon-title > img {
  width: 101px;
  height: 90px;
}

.form-login div{
  display: flex;
  flex-direction: column;
}
.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 25px;
  font-size: var(--lg);
  padding-top: 4px;
  margin-bottom: 4px;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  height: 50px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--lg);
}

.login-button-form {
  margin-top: 10px;
  display: inline-block;
}

@media (min-width: 640px) {
  .login {
    height: 92vh;
  }
  .container-login {
    width: 50vw;
    height: 80vh;
  }
  .input {
    font-size: var(--sm);
  }
}

@media (max-width: 640px) {
  .login {
    height: 80vh;
  }
  .container-login {
    width: 90vw;
    height: 60vh;
  }
}

@media(max-height:500px){
  .container-icon-title > img{
    display: none;
  }

  .login{
    height: 85vh;
  }
}


